<h1>Users</h1>

<div class="row">
  <div class="col-sm-12 col-lg-6">
    <table class="table">
      <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td>
            <%= link_to "Edit", edit_user_path(user), class:'btn btn-primary' %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
