<h1>Thank you for your order!</h1>

<br><br>

<p>Your package will be shipped to:</p>
<p><%= @order.street_address %></p>
<p><%= @order.zip_code %> <%= @order.city %>, <%= @order.state %></p><br><br>

<p>We are sending your confirmation email right this second. So you can go ahead and check your inbox!</p>
