<h1>All Categories</h1>

<div class="row">
  <div class="col-sm-12 col-lg-4">
    <div class="form-group">
      <%= link_to("Add Category", new_category_path, class:'btn btn-primary') %>
    </div>

    <table class="table">
      <tbody>
        <% @categories.each do |c| %>
          <tr>
            <td><%= c.name %></td>
            <td>
              <%= link_to "Edit", edit_category_path(c), class:'btn btn-primary' %>
              <%#= link_to "Delete", category_path(c), method:"DELETE", data: {confirm: "Are you sure?"}, class:'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
