
<% if @reviews.empty? %>
  You have not submitted any reviews yet.
<% else %>
  <h1>Reviews for all items that you bought</h1>

  <ul>
    <% @reviews.each do |review| %>
    <li><%= link_to(review.item.name, review_path(review)) %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to("Add a review", orders_path) %>
